.cards-2 {
  text-align: center;
  padding: 4.5rem;
}

.cards-2 .package {
  position: absolute;
  right: 20px;
  z-index: 99;
}

.cards-2 .package input {
  border: 0;
  border-bottom: 1px solid;
  outline: none;
  font-size: 16px;
}

.cards-2 .package select {
  border: 0;
  border-bottom: 2px solid;
  outline: none;
}

.cards-2 .package option {
  text-transform: capitalize;
}

.above-heading {
  color: #5f4dee;
  font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
  text-align: center;
}

h2 {
  color: #333;
  font: 700 2rem/2.625rem "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}

.cards-2 .h2-heading {
  margin-bottom: 3.75rem;
}

.cards-2 .card {
  display: block;
  max-width: 20rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  border: 1px solid #ccd3df;
  border-radius: 0.375rem;
}

.cards-2 .card .card-body {
  padding: 2.5rem 2rem 2.75rem 2em;
}

.cards-2 .card .logo {
  margin-top: 15px;
}

.cards-2 .card .logo img {
  height: 35px;
}

.cards-2 .card .card-title {
  margin-bottom: 0.5rem;
  color: #5f4dee;
  font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
}

.cards-2 .card .price .currency {
  margin-right: 0.25rem;
  color: #434c54;
  font-weight: 700;
  font-size: 1.5rem;
  vertical-align: 40%;
}

.cards-2 .card .price .value {
  color: #434c54;
  font: 700 2.95rem/2.5rem "Open Sans", sans-serif;
  text-align: center;
}

.cards-2 .card .frequency {
  font-size: 0.875rem;
}

.cards-2 .card .divider {
  height: 1px;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #ccd3df;
}

.cards-2 .card .list-unstyled {
  margin-top: 1.875rem;
  margin-bottom: 1.625rem;
  text-align: left;
}

.cards-2 .card .list-unstyled .benefit {
  margin-bottom: 0.5rem;
  display: flex;
}

.cards-2 .card .list-unstyled .fas {
  color: #5f4dee;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.cards-2 .card .list-unstyled .benefit-text {
  margin-left: 0.625rem;
}

.cards-2 .none img {
  height: 200px;
  margin: 20px;
}

.cards-2 .none p {
  font-size: 18px;
}
@media (min-width: 992px) {
  .h2-heading {
    width: 60%;
  }

  .cards-2 .card {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    vertical-align: top;
  }
}
@media (min-width: 768px) {
  .h2-heading {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
