<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  </head>
  <body>
    <div id="pricing" class="cards-2">
      <div class="package">
        <input type="text" placeholder="Search..." v-model="searchText" />
        <select @change="getPackage">
          <option>family</option>
          <option>individual</option>
        </select>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="above-heading">COMPARISON</div>
            <h2 class="h2-heading">Health Insurance Options</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12" v-if="filteredCompanies.length">
            <div
              class="card"
              v-for="(company, i) in filteredCompanies"
              :key="i"
            >
              <div class="logo">
                <img :src="company.logo" />
              </div>
              <div class="card-body">
                <div class="card-title">{{ company.name }}</div>

                <div class="price">
                  <span class="currency">{{ "\u20A6" }}</span
                  ><span class="value"
                    >{{ formatAmount(company[package].price) }}</span
                  >
                </div>
                <div class="frequency">monthly</div>
                <div class="divider"></div>
                <a
                  style="text-transform: capitalize;"
                  href="#"
                  >{{ package }}</a
                >
                <ul class="list-unstyled li-space-lg">
                  <li
                    class="benefit"
                    v-for="benefit in company[package].benefits.slice(0, Math.ceil(company[package].benefits.length/2))"
                    :key="benefit"
                  >
                    <i class="fas fa-check"></i>
                    <div class="benefit-text">{{ benefit }}</div>
                  </li>
                <a @click="showMore(company.id)" style="text-align: center; text-transform: capitalize; text-decoration: underline; margin: 5px 0;" href="#">{{ more.includes(company.id) ? "Show Less" : "Show More" }}</a>
                </ul>

                <div class="button-wrapper">  
                  <button class="btn-solid-reg page-scroll" href="#" @click.prevent="selectInsurance({ price: company[package].price, package, name: company.name, logo: company.logo } )">Buy</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 none" v-else>
            <img src="forbidden.svg" />
            <p>
              "{{searchText}}" not found in {{ companies.map(key =>
              key.name).join(", ").replace(/,([^,]*)$/, " and "+'$1') }}
            </p>
          </div>
        </div>
      </div>

      <checkout-form :selected="selected" @show-success="getInfo"></checkout-form>

      <div id="success" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="card modal-content">
            <div class="card-body header">
              <div class="icon-box">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Light_green_check.svg/600px-Light_green_check.svg.png" />
              </div>
            </div>
            <div class="body">
              <h4 class="title">Transaction Successful</h4>
      
              <p class="text-center">{{ "\u20A6"+formatAmount(selected.price) }} was paid by {{ info.name }} ({{ info.email }}) for the Monthly
                <span style="text-transform: capitalize;">{{ selected.package }}</span> package of {{ selected.name }} Insurance </p>
            </div>
            <div class="footer">
              <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of container -->
    </div>

    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/index.js"></script>
  </body>
</html>
